<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="TIBCO.EMS"
                           publicKeyToken="5b83db8ff05c64ba"
                           culture="" />
         <bindingRedirect oldVersion="1.0.0.0-1.0.830.14"
                          newVersion="1.0.830.14"/>
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>

